extends ../base


block content
    //- ternary operator
    //- h3 #{video.views} #{video.views === 1 ? "view" : "views" }
    div#videoContainer
        //- video(src="/"+video.videoUrl, controls, autoplay,  style="width: 50%;")
        video(src="/"+video.videoUrl, autoplay)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    <i class="fa-solid fa-play"></i>
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range" , value=0, min="0", step="0.5")#timeline

            div.videoControls__volume
                input(type="range" , value=0.5, min="0", max="1", step="0.1")#volume
                span#mute
                    i.fa-solid.fa-volume-high
            div
                span#fullScreen
                    i.fa-solid.fa-expand

    //-
        div
            p=video.description
            small=video.createdAt
        div 
            small Uploaded by 
                a(href=`/users/${video.owner._id}`) #{video.owner.name}

        //- only for owner of the video
        if String(video.owner._id) === String(loggedInUser._id) 
            a(href=`${video.id}/edit`) Edit video &rarr;
            br
            a(href=`${video.id}/delete`) Delete video &rarr;
        //-  &rarr: right arrow, &larr: left arrow
        //-  relative url: edit => videos/edit 
        //-  absolute url: /edit => /edit

block scripts 
    script(src="/static/js/videoPlayer.js")